.button-sort {
    border-radius: 5px;
    background-color: #7CB0FF;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    height: auto;
    margin: 20px 10px 40px 10px;
    width: auto;
}

.button-save-album {
    border-radius: 5px;
    background-color: #89E882;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    height: auto;
    margin: 20px 10px 40px 10px;
    width: auto;
}

.button-remove-approved {
    border-radius: 5px;
    background-color: orange;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    height: auto;
    margin: 20px 10px 40px 10px;
    width: auto;

}
