.album-links {
  border-radius: 5px;
  background-color: #98ade8;
  color: black;
  font-family: "Roboto Slab", serif;
  height: auto;
  width: auto;
  margin: 10px 10px 40px 10px;
  font-size: 15px;
}

.album-list-title h2 {
  border-radius: 5px;
  color: black;
  font-family: "Roboto Slab", serif;
  height: auto;
  width: auto;
  margin: 20px 10px 40px 10px;
  font-size: 30x;
}

.album-list li {
  margin: 0;
  vertical-align: top;
}

.album-list ul {
  margin: 0;
  padding: 0;
}
