.album-links {
  border-radius: 5px;
  background-color: #98ade8;
  color: black;
  font-family: "Roboto Slab", serif;
  height: auto;
  width: auto;
  margin: 20px 10px 40px 10px;
  font-size: 15px;
}

h2 {
  border-radius: 5px;
  color: black;
  font-family: "Roboto Slab", serif;
  height: auto;
  width: auto;
  margin: 20px 10px 40px 10px;
  font-size: 30x;
}

.preview-thumbnails {
  width: auto;
  height: 40px;
  margin: 0 0 0 0;
  padding: 0 0;
}
