.list-of-guests {
  margin: 20px auto;
  width: 250px;
  background-color: #4ddbff;
  border: solid black 1px;
  padding-bottom: 20px;
}

.current-guests-list-title {
  font-family: "Roboto Slab", serif;
  margin: 0 0 0 0;
  text-decoration: underline;
}
.current-guests-list {
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  margin: 0 0 0 0;
  padding: 0;
}

.current-guests-list-items {
  margin: 0 5px;
  padding: 0;
}
