.header-li {
  display: inline-block;
  padding: 0 25px;
  margin-top: 7px;
}

.header-links:hover {
  color: #56f8ff;
}

.header-links {
  color: black;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
}

a {
  text-decoration: none;
}

.log-button {
  background-color: #5af1ff;
  padding: 6px;
  border-radius: 5px;
  color: black;
  font-size: 10px;
  font-family: "Roboto Slab", serif;
  width: auto;
  height: auto;
}

.log-button:hover {
  background-color: #87f6ff;
}

#header-nav {
  box-shadow: 0px 1px 6px;
  background-color: #bfbfbf;
  text-align: left;
  width: 100%;
  height: 75px;
}

/* #header-nav ul {
  list-style: none;
  margin-bottom: 20px;
  height: 40px;
} */

#header-nav #home-link:hover {
  color: #56f8ff;
}

.header-links-home:hover {
  color: #56f8ff;
}

.header-links-home {
  color: black;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
}

@media only screen and (min-width: 640px) {
  .header-li {
    display: inline-block;
    padding: 0 25px;
    margin-top: 15px;
  }

  .header-links:hover {
    color: #56f8ff;
  }

  .header-links {
    color: black;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
  }

  .log-button {
    background-color: #5af1ff;
    padding: 6px;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    width: auto;
    height: auto;
  }

  .log-button:hover {
    background-color: #87f6ff;
  }

  #header-nav {
    box-shadow: 0px 1px 6px;
    background-color: #bfbfbf;
    text-align: right;
    height: 55px;
  }

  #header-nav ul {
    margin-top: 0;
    list-style: none;
    margin-right: 10px;
  }

  #header-nav #home-link {
    float: left;
    color: black;
  }
  #header-nav #home-link:hover {
    color: #56f8ff;
  }

  .header-links-home:hover {
    color: #56f8ff;
  }

  .header-links-home {
    color: black;
    font-size: 30px;
    font-family: "Roboto Slab", serif;
  }
  .log-in {
    margin-top: 5px;
  }
}
