:root {
  --green: #99ff99;
  --red: #ff4d4d;
}

.home-photos {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr;
  width: 50%;
  margin: auto;
}

.home-photo-yes {
  border: solid var(--green) 5px;
}

.home-photo-no {
  border: solid var(--red) 5px;
  transform: rotate(7deg);
}

.footer {
  margin-top: 50px;
  font-size: 15px;
}
.footer a {
  color: #303b94;
  font-weight: bold;
}

@media only screen and (min-width: 640px) {
  .home-photos {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: auto;
  }

  .home-photo-yes {
    border: solid #99ff99 5px;
    height: 375px;
  }

  .home-photo-no {
    border: solid #ff4d4d 5px;
    height: 375px;
  }
  .footer {
    margin-top: 250px;
    font-size: 15px;
  }
  .footer a {
    color: #303b94;
    font-weight: bold;
  }
}
