
.rawImage {
    width: 300px;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0;
}

.rawImageNo {
    width: 300px;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0;
    border: 2px solid #ff4d4d;
}

.rawImageYes {
    width: 300px;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0;
    border: 2px solid #99ff99;
}
#photoCard {
    width: 300px;
    height: auto;
    margin: 0 0;
    padding: 0 0 20px 0;
}
