#imgNo {
    border: 2px solid #ff4d4d
}

.rawImage {
    width: 300px;
    height: auto;
    margin: 0 0;
    padding: 0 0;
}

.photoCard {
    width: 300px;
    height: auto;
    margin: 0 0;
    padding: 0 0;
}

#imgYes {
    border: 2px solid #99ff99;
    
}