/* li {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
} */

:root {
  --green: #99ff99;
  --red: #ff4d4d;
}
.images-ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.guest-caption {
  font-family: "Roboto Slab", serif;
}
.guest-caption p {
  margin: 0;
  padding: 0px;
}
.guest-caption h4 {
  margin: 2px;
  padding: 2px;
}

.final-album-images-ul {
  display: grid;
  grid-template-columns: 1fr;
}

.rawImage {
  width: auto;
  height: 150px;
  margin: 0 0 0 0;
  padding: 0 0;
}

.rawImageNo {
  width: auto;
  height: 150px;
  margin: 20px 0 0 0;
  border: 2px solid var(--red);
}

.rawImageYes {
  width: auto;
  height: 150px;
  margin: 20px 0 0 0;
  border: 2px solid var(--green);
}

.final-album-images {
  width: auto;
  height: 150px;
  margin: 20 0 0 0;
  padding: 0 0;
  border: 2px solid #c2d5e8;
}
.final-album-title {
  font-family: "Roboto Slab", serif;
  font-size: 26px;
  text-decoration: underline;
}

#photoCard {
  width: 150px;
  height: auto;
  margin: 0 0;
  padding: 0 0 20px 0;
}

button {
  width: 40px;
  height: 20px;
  font-family: "Roboto Slab", serif;
}

#yes {
  background-color: var(--green);
}

#no {
  background-color: var(--red);
}
.guest-album-caption {
  /* border-radius: 5px;
    background-color: #98ADE8; */
  color: black;
  font-family: "Roboto Slab", serif;
  height: auto;
  width: auto;
  margin: 0px 0px 0px 0px;
  font-size: 13px;
}

.guest-album-caption h4 {
  margin: 5px 0px 0px 0px;
  font-size: 16px;
}

.guest-album-caption p {
  color: #ec934c;
}
@media only screen and (min-width: 640px) {
  /* li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
  } */

  .images-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .final-album-images-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .rawImage {
    width: auto;
    height: 300px;
    margin: 0 0 0 0;
    padding: 0 0;
  }

  .rawImageNo {
    width: auto;
    height: 300px;
    margin: 25px 0 0 0;
    border: 2px solid #ff4d4d;
  }

  .rawImageYes {
    width: auto;
    height: 300px;
    margin: 25px 0 0 0;
    border: 2px solid #99ff99;
  }
  #photoCard {
    width: 300px;
    height: auto;
    margin: 0 0;
    padding: 0 0 20px 0;
  }

  button {
    width: 80px;
    height: 20px;
  }
  #yes {
    background-color: #99ff99;
  }
  #no {
    background-color: #ff4d4d;
  }
  .final-album-images {
    width: auto;
    height: 300px;
    margin: 20 0 0 0;
    padding: 0 0;
    border: 2px solid #c2d5e8;
  }
  .final-album-title {
    font-family: "Roboto Slab", serif;
    font-size: 26px;
    text-decoration: underline;
  }
  .guest-album-caption {
    color: black;
    font-family: "Roboto Slab", serif;
    height: auto;
    width: auto;
    margin: 0px 0px 0px 0px;
    font-size: 13px;
  }
  .guest-album-caption h4 {
    margin: 5px 0px 0px 0px;
    font-size: 16px;
  }
  .guest-album-caption p {
    color: #ec934c;
  }
}
