.drop {
  width: 200px;
  margin: 50px auto;
}

.drop-text {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  margin-top: 75px;
  text-align: center;
  vertical-align: center;
}

#welcome-message::first-letter {
  text-transform: capitalize;
}

#welcome-message {
  font-family: "Roboto Slab", serif;
}
