.album-links-preview {
  border-radius: 5px;
  background-color: #98ade8;
  color: black;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}

.preview-thumbnails {
  width: auto;
  height: 60px;
  margin: 0 0 0 0;
  padding: 0 0;
}

.preview-card {
  background-color: white;
  width: 220px;
  height: auto;
  border: solid black 1px;
}

.preview-card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.preview-card-li {
  margin: 0;
  padding: 0 5px;
  list-style-type: none;
  display: inline-block;
}

.preview-card h3 {
  margin: 0 0 0 0;
  padding: 5px;
  font-family: "Roboto Slab", serif;
}

.preview-card h5 {
  font-size: 11px;
  margin: -4px 0 4px 0;
  padding: 1px;
}
